
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap');

/* container for the whole pomodoro timer, it displays:
 * - a tomato background 
 * - a countdown to know how much time there's left for the current interval 
 * - a series of square to know how many working intervals have been done
 */
.pomodoro-timer {
  display: flex;
	flex-direction: column;
  width: 15em;
  height: 15em;
  align-items: center;
  justify-content: center;
  background: no-repeat center/cover url('tomato.svg');
}

/* count-down */
.pomodoro-timer p {
  padding: 0.5em 1.5em;
  background-color: white;
	border-radius: 0.2em;
  font-family: "Space Mono", monospace;
}

/* period visual feedback */
.periods div {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid black;
	margin: 0 0.4em;
}
.periods .todo {
	background-color: crimson;
}
.periods .done {
	background-color: lime;
}
